.App {
  padding: 50px;
  height: 50%;
}

.App button {
  margin-bottom: 10px;
}

.App table tbody tr {
  cursor: pointer;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.Chat #chatroom {
  border: solid 1px black;
  height: 400px;
  overflow: auto;
  position: relative;
}

.Chat #chatroom p{
  margin-bottom: 0;
}

.Chat #chatroom #feedback {
  position: absolute;
  bottom: 0;
}

.Chat #members p{
  padding: 3px;
  margin: 0;
}


.Chat #members {
  border: solid 1px black;
  height: 400px;
  overflow: auto;
}

.Chat #members p{
  font-weight: bold;
  padding: 3px;
  margin: 0;
}

.Chat #members p:hover{
  background-color: orange;
  cursor: pointer;
}

.Chat #announce {
  border: solid 1px black;
  height: 400px;
  overflow: auto;
}

.Chat #announce p{
  padding: 3px;
  margin: 0;
}

.Chat #input_zone {
  display: flex;
}


